@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --primary: #fff;
  --secondary: #0079ff;

  --textPrimary: #4b6a9b;
  --textSecondaryHeadings: #2b3442;

  --lightTextSecondary: #697c9a;
  --lightCardBody: #fefefe;

  --statCardBg: #f6f8ff;
  --warning: #f74646;

  --font: 'Space Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: var(--statCardBg);
}
